<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Quiz Application</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <header>
            <h1>Quiz</h1>
        </header>
        <main>
            {% block content %}
            {% comment %} <div class="container">
                <ul class="nav bg-info">
                  <li class="nav-item">
                    <a class="nav-link link-light" href="/">HOME</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link link-light" href="/members">MEMBERS</a>
                  </li>
                </ul> {% endcomment %}
            {% endblock %}
        </main>
        <script src="" async defer></script>
    </body>
</html>